main{
    color: white;
    background-color: rgb(77,195,255);
}

.btn-warning{
    width: 80%;
}

form{
    background-color: rgba(0, 170, 255, 0.499);
    border: 2px solid;
    text-align: center;
    /* margin: auto; */
}

label{
    text-align: left;
}

input{
    width: 80%;
    height: 50px;
}


.utility_1{
    text-align: center;
    margin-top: 100px;
}

.material-symbols-outlined {
   font-size: 500%;

}